In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
# Reflect Tables into SQLAlchemy ORM
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
#from sqlalchemy import Column, Integer, String, Float
#from sqlalchemy.ext.declarative import declarative_base
#Base = declarative_base()

In [4]:
#sqlalchemy.__version__

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [5]:
# reflect an existing database into a new model
Base = automap_base()

In [6]:
# reflect the tables
Base.prepare(engine, reflect = True)

In [7]:
Base.metadata.create_all(conn)

In [8]:
# View all of the classes that automap found
Base.classes.keys()

[]

In [13]:
# Save references to each table
Measurement_class = Base.classes.measurement
Station_class = Base.classes.station

AttributeError: measurement

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [ ]:
# Exploratory Precipitation Analysis
# Find the most recent date in the data set.

In [15]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [16]:
# Collect the names of tables within the database
inspector.get_table_names()

[]

In [17]:
# Using the inspector to print the column names within the 'measurement' table and its types
columns = inspector.get_columns('measurement')

# print(columns)
for column in columns:
    a = f"{column['name']} {column['type']} "
    for index, val in column.items():
        if index=="primary_key" and val==1:
            a += " AUTO INCREMENT"
        else:
            a += ""
    print(a)

In [18]:
class Measurement(Base):
    __tablename__ = 'measurement'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tabs = Column(Float)

NameError: name 'Column' is not defined

In [24]:
# see what it looks like again but for Measurement
rows = session.query(Measurement.date, Measurement.prcp).all()

In [25]:
for x in rows:
    print(x)

In [28]:
# okay we don't need the other part of the greater than because the end date is inclusive and doesnt need to be called
dates = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date > '2016-08-23').\
    count()
print(dates)

0

In [17]:
# okay there isn't one for every day, its 365
#for row in session.query(Measurement.id, Measurement.date, Measurement.prcp).limit(15).all():
#    print(row)

In [26]:
# okay there isn't one for every day, its 330
# for row in session.query(Measurement.id, Measurement.date, Measurement.prcp).limit(365).all():
#     print(row)

In [51]:
# one more time, with feeling
#for row in session.query(Measurement.id, Measurement.date, Measurement.prcp).limit(330).all():
#    print(row)

In [15]:
#results = session.query(Measurement).\
#    filter(Measurement.date.like('2017-%')).\
#    count()
# results

1397

In [18]:
#from sqlalchemy import or_, and_
#twentyseven = session.query(Measurement).\
#    filter(or_(Measurement.date > '2016-08-23', Measurement.date < '2017-08-23')).\
#    count()
#print(twentyseven)

In [19]:
# from sqlalchemy import or_, and_

0

In [25]:
#last 12 months
# most_recent = session.query(Measurement.date, Measurement.prcp).\
#     filter(Measurement.date > '2016-08-23').\
#    filter(Measurement.prcp == None).\
#    count()

In [19]:
#records = session.query(Measurement.date, Measurement.prcp).\
#    filter(Measurement.date > '2016-12-31').\
#    all()
    
#for record in records:
#    print(record)

In [20]:
# Filter out 'None' and replace with '0.0'
# update_none = Measurement.update().where([Measurement].prcp == 'None').values(prcp='0.0')

In [21]:
#update_none =session.query(Measurement).where(Measurement.prcp == 'None').all()

#print(update_none)

In [22]:
#session.new

In [23]:
#session.query(Measurement.prcp).all()

In [11]:
Base.metadata.create_all(engine)

In [1]:
Base.metadata.clear()

NameError: name 'Base' is not defined

In [13]:
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [1]:
# Use this to clear out the db
# ----------------------------------
Base.metadata.drop_all(engine)

NameError: name 'Base' is not defined

In [ ]:
df = pd.DataFrame(twentyseven2, columns=

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results.

In [ ]:
# Starting from the most recent data point in the database.

In [ ]:
# Calculate the date one year from the last date in data set.

In [ ]:
# Perform a query to retrieve the data and precipitation scores

In [ ]:
# Save the query results as a Pandas DataFrame and set the index to the date column

In [26]:
pandas_summary = pd.DataFrame(twentyseven2, columns=['date', 'prcp'])

ValueError: DataFrame constructor not properly called!

In [ ]:
# Sort the dataframe by date

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Exploratory Station Analysis
# Design a query to calculate the total number stations in the dataset
# Using the inspector to print the column names within the 'station' table and its types
columns = inspector.get_columns('station')

# print(columns)
for column in columns:
    a = f"{column['name']} {column['type']} "
    for index, val in column.items():
        if index=="primary_key" and val==1:
            a += " AUTO INCREMENT"
        else:
            a += ""
    print(a)

# see what Station looks like
first_row = session.query(Station).first()
first_row.__dict__

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)

In [ ]:
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id

In [ ]:
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [1]:
# Close Session
session.close()

NameError: name 'session' is not defined